.mouse__container .spaceBtn__cont {
  width: 200px;
}

.mouse__container .spaceBtn {
  font-size: 25px;
}

.mouse__container .spaceBtn {
  cursor: pointer !important;
}

.mouse__container .spaceBtn:hover {
  filter: brightness(0.8);
}
