.new-tournament-4__container {
    min-height: 100%;
}

.new-tournament-4 {
    min-height: calc(100vh - 70px);
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 30px;
    margin: 0 30px;
}

@media screen and (max-width: 1050px) {
    .new-tournament-4 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 650px) {
    .new-tournament-4 {
        margin: 0 10px;
    }
}