* {
  box-sizing: border-box;
}

.radioInput-container {
  width: fit-content;
  width: 100%;
}

.radioInput-container input {
  display: none;
}

.radioInput-container label span {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50px;
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 20px;
  font-weight: 300;
}

.radioInput-container input:checked + label span {
  background-color: #fbcdbb;
  border: 1px solid #fbcdbb;
}

.radio-cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.radioInput-container .main-label {
  font-size: 14px;
  font-weight: 300;
  margin-left: 20px;
  margin-bottom: 0;
}

.radioInput-container .label-sub {
  font-size: 12px;
  font-weight: 300;
  margin-left: 20px;
  margin-top: 0;
}

.error {
  /* ERROR MAYBE??? */
  display: none;
}

.error-show {
  display: block !important;
  color: red;
  font-size: 12px;
  font-weight: 300;
  padding: 0px 20px 10px;
}

.radioInput-container .value-subheading {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
}

@media screen and (max-width: 500px) {
  .radioInput-container {
    width: 300px;
    text-align: center;
  }
  .radio-cont {
    justify-content: center;
    flex-wrap: wrap;
  }
}
