.dashboard {
    padding: 20px;
}

.dashboard h1 {
    margin: 10px 10px 30px;
}

/* COMPONENT */
.dashboard .component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 20px 10px;
    height: 300px;
}

.dashboard .component .divider {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}

.dashboard .component img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.dashboard .component h2 {
    margin-top: 0;
    font-size: 30px;
    margin-bottom: 15px;
}

.dashboard .component h2:hover {
    text-decoration: underline;
}

.dashboard .component div {
    margin-left: 15px;
}

.dashboard .component .infoRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.dashboard .component .infoRow p {
    margin-left: 15px;
}

.dashboard .component .infoRow i {
    margin: 0;
}

.dashboard .component p, .dashboard .component h3{
    margin: 7px auto;
}

.dashboard .component .game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: strech;
    border: 1px solid #000;
    border-radius: 50px;
    max-width: 250px;
    min-width: 200px;
}

/* NEW TOURNAMENT BTN */
.dashboard .newTournamentBtn {
    margin: 20px 0;
}