.new-tournament-send__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url("./../../../../../public/sendingBackground.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.new-tournament-send {
    padding: 10px 20px;
}

.new-tournament-send p {
    background: linear-gradient(270deg, #fe8c00, #f83600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-weight: 800;
    animation: gradientMove 10s ease infinite;
    background-size: 400% 400%;
    text-align: center;
    margin: 0;
    font-size: 18px;
}

.new-tournament-send span {
    font-size: 12px;
    text-align: center;
    margin: 10px;
    display: block;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 51%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 51%;
    }
}
