.keyboardBtn {
    width: 70px;
    height: 70px;
    border: 1px solid var(--keyboardBtn_color);
    color: var(--keyboardBtn_color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: 0.3s;
    border-radius: 10px;
    user-select: none;
    cursor: default;
}

.keyboardBtn h2 {
    font-weight: 300;
}

.keyboardBtn__cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
}

.keyboardBtn__cont p {
    margin: 5px;
    font-size: 11px;
    max-width: 70px;
}
