@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.watch__cont {
  background-color: #000;
  color: white;
  min-height: 100vh;
  margin: 0;
  padding: 30px;
  background: url("./defaultBackg.jpg") center / contain no-repeat fixed black;
}

.watch__cont p,
.watch__cont h2,
.watch__cont h3 {
  font-family: "Montserrat Alternates", sans-serif;
}

.watch__cont h2 {
  font-size: 75px;
  margin-bottom: 50px;
  font-weight: 900;
}

.watch__cont h3 {
  font-size: 30px;
  margin-bottom: 50px;
  font-weight: 700;
}

.watch__cont .teamsCont {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  max-width: 90%;
  margin: auto;
  height: 70vh;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team.right {
  align-items: flex-end;
}

.watch__cont .largeInfoCont {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.watch__cont .largeInfoCont p {
  margin: 2px;
  font-size: 12px;
}

.watch__cont .infoCont {
  margin-top: 10px;
}
.watch__cont .infoCont b {
  font-weight: 900;
}

.watch__cont .largeInfoCont h3 {
  font-size: 25px;
  margin: 0;
}

.watch__cont .editBtn {
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #717171;
  cursor: pointer;
  transition: 0.2s;
}

.watch__cont .editBtn:hover {
  color: #8e8e8e;
}

.customizeOverlay {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customizeOverlayData {
  background-color: #212121;
  color: white;
  padding: 20px;
  border-radius: 20px;
  width: 50%;
  max-width: 500px;
  text-align: center;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
}

.customizeOverlayData i {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  color: #fff;
  transition: 0.2s;
}

.customizeOverlayData i:hover {
  color: #c8c8c8;
}

.displaysCont {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.display {
  width: 150px;
  height: 100px;
  border-radius: 10px;
  background-color: #000;
  border: 3px solid #212121;
  transition: 0.2s;
  margin: 10px 5px;
  cursor: pointer;
}

.display.active {
  border: 3px solid #ee6730;
}

#defaultDisplay {
  background: url("./defaultBackg.jpg") center / contain no-repeat black;
}

#display2 {
  background: url("./backg2.jpg") center / contain no-repeat black;
}

#display3 {
  background: url("./backg3.jpg") center / contain no-repeat black;
}

#display4 {
  background: url("./backg4.jpg") center / contain no-repeat black;
}

#display5 {
  background: url("./backg4.jpg") center / contain no-repeat black;
}

#display6 {
  background: url("./backg6disp.png") center / contain no-repeat white;
}

#display7 {
  background: url("./backg7.png") center / contain no-repeat #b5093c;
}
