@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.watch__cont {
  background-color: #000;
  color: white;
  min-height: 100vh;
  margin: 0;
  padding: 30px;
}

.watch__cont p,
.watch__cont h2,
.watch__cont h3 {
  font-family: "Montserrat Alternates", sans-serif;
}

.watch__cont h2 {
  font-size: 75px;
  margin-bottom: 50px;
  font-weight: 900;
}

.watch__cont h3 {
  font-size: 30px;
  margin-bottom: 50px;
  font-weight: 700;
}

.watch__cont .teamsCont {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  max-width: 90%;
  margin: auto;
  height: 70vh;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team.right {
  align-items: flex-end;
}

.watch__cont .largeInfoCont {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.watch__cont .largeInfoCont p {
  margin: 2px;
  font-size: 12px;
}

.watch__cont .infoCont {
  margin-top: 10px;
}
.watch__cont .infoCont b {
  font-weight: 900;
}

.watch__cont .largeInfoCont h3 {
  font-size: 25px;
  margin: 0;
}

.watch__cont .editBtn {
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #717171;
  cursor: pointer;
  transition: 0.2s;
}

.watch__cont .editBtn:hover {
  color: #8e8e8e;
}
