.horizontalCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  flex: 1 1 auto;
  height: 100%;
}

.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5px;
  height: 100%;
}

.new-tournament {
  height: 100%;
  overflow-y: auto;
}

.new-tournament-1 {
  max-width: 80%;
  margin: auto;
  flex: 1 1 auto;
  height: 80%;
}

.submitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}

.submitContainer p {
  font-size: 12px;
  margin: 0;
  font-weight: 300;
}

.submitContainer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
}

input:disabled, input:disabled:hover {
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
}

@media screen and (max-width: 1300px) {
  .new-tournament {
    max-width: 95%;
  } 
}

@media screen and (max-width: 1100px) {
  .new-tournament {
    max-width: 80%;
  } 
  .horizontalCont {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
  }
}

@media screen and (max-width: 900px) {
  .new-tournament {
    max-width: 95%;
  } 
  .horizontalCont {
    align-items: center;
    width: 100%;
  }
  .submitContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
  }
}

