.mainImage {
    width: 400px;
    height: 350px;
    background: url("./../../../../public/main.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    border-radius: 50px;
    display: inline;
}

.mainImageOverlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 50%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    border-radius: 50px;
    padding: 30px;
}

.mainImageOverlay h1 {
    margin: 0;
}

@media screen and (max-width: 550px) {
    .mainImage {
        width: 380px;
    }
}